@use '../src/Variables/Variables.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    padding: 0;
    margin: 0;
}

.light {
    .text {
        color: black;
    }

    .topBannerText {
        color: #fff;
    }

    .iconTextColor {
        color: Variables.$primaryColor;
    }

    .backgroundLightGray {
        background-color: Variables.$lightGrayBg;
    }

    .backgroundDarkGray {
        background-color: Variables.$darkGrayBg;
    }

    .backgroundTopBanner {
        background-color: Variables.$secondaryColor;
    }
}

.dark {
    .text {
        color: #fff;
    }

    .topBannerText {
        color: #fff;
    }

    .backgroundLightGray {
        background-color: black;
    }

    .backgroundDarkGray {
        background-color: black;
    }

    .backgroundTopBanner {
        background-color: black;
    }
}