@use '../src/Variables/Variables.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    padding: 0;
    margin: 0;
}

.light {
    .text {
        color: black;
    }

    .topBannerText {
        color: #fff;
    }

    .iconTextColor {
        color: Variables.$primaryColor;
    }

    .secondaryColorText {
        color: Variables.$secondaryColor;
    }

    .whiteBg {
        background-color: #fff;
    }

    .backgroundLightGray {
        background-color: Variables.$lightGrayBg;
    }

    .backgroundDarkGray {
        background-color: Variables.$darkGrayBg;
    }

    .backgroundTopBanner {
        background-color: Variables.$secondaryColor;
    }

    .yellowBg {
        background-color: Variables.$yellow;
    }

    .yellowText {
        color: Variables.$yellow;
    }

    .primaryBg {
        background-color: Variables.$primaryColor;
    }

    .secondaryBg {
        background-color: Variables.$secondaryColor;
    }

}

.dark {
    .text {
        color: #fff;
    }

    .topBannerText {
        color: #fff;
    }

    .secondaryColorText {
        color: Variables.$secondaryColor;
    }

    .whiteBg {
        background-color: Variables.$darkBg;
    }

    .backgroundLightGray {
        background-color: Variables.$darkBg;
    }

    .backgroundDarkGray {
        background-color: Variables.$darkBg;
    }

    .backgroundTopBanner {
        background-color: Variables.$darkBg;
    }
}

.ovalImg {
    border-radius: 100px / 50px;
}

.linearBg {
    background: rgb(110, 13, 136);
    background: linear-gradient(90deg, rgba(110, 13, 136, 1) 0%, rgba(225, 0, 62, 1) 93%);
}